<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title th:text="${webSiteInfo.title}"></title>
    <meta name="keywords" th:content="${webSiteInfo.keywords}">
    <meta name="description" th:content="${webSiteInfo.description}">
    <link href="//s1.pstatp.com/cdn/expire-1-M/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//s1.pstatp.com/cdn/expire-1-M/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//s1.pstatp.com/cdn/expire-1-M/jquery/1.8.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://sun-mu.cn/public/assets/index/css/dux.css">
    <script src="//s1.pstatp.com/cdn/expire-1-M/twitter-bootstrap/3.3.7/css/bootstrap.min.css"></script>
</head>
<body class="home blog">
<div id="wrap">
    <header class="header">
        <div class="container">
            <div class="brand"><a href=""><img src="../static/logo.png" width="100" height="50"></a></div>
            <ul class="site-nav site-navbar">
                <li class="item ">
                    <a href="../static" > <i class='fa fa-home'></i> 首页</a></a>
                </li>
                <li class="item current">
                    <a href="./index.php?mod=article" ><i class='fa fa-list'></i> 文章列表</a></a>
                </li>
            </ul>
            <div class="topbar">
                <ul class="site-nav topmenu">
                    <li> <a href="#">关于本站 <i class="fa fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a rel="external nofollow" href="/" target="blank"><i class="fa fa-qq"></i> QQ</a></li>
                            <li><a rel="external nofollow" onclick="layer.msg('微信号：')" target="blank"><i class="fa fa-weixin"></i> 微信</a></li></ul></ul>
            </div>
            <div onclick="wapDh();">
                <i class="fa fa-bars m-icon-nav"></i>
            </div>
        </div>
    </header>
    <section class="container">
    <div class="content-wrap">
        <div class="content">
            <div id="homeslider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators"><li data-target="#homeslider" data-slide-to="0" class="active"></li></ol>
                <div class="carousel-inner" role="listbox"><div class="item active">
                    <a target="_blank" href="/public/assets/index/images/img5.png">
                        <img src="../static/1.png" style=" height:300px;">
                    </a>
                </div>
                </div>
                <a class="left carousel-control" href="#homeslider" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a><a class="right carousel-control" href="#homeslider" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>
            <div th:each="seoHtml : ${seoHtmlList}" class="content_catag_container">
                <article class="excerpt excerpt-1">
                <p class="focus">
                    <a class="thumbnail" th:href="@{${seoHtml.url}}">
            <span class="item">
                <span class="thumb-span"><span class="thumb-span"><img class="thumb" src="../static/img1.png" style="display: inline;"></span></span>
            </span>
                    </a>
                </p >
                    <header>
                        <p th:text="'ID: '+ ${seoHtml.id}" hidden="hidden"></p>
                        <a class="cat" href="#" onclick="updateCount(${seoHtml.id})">文章</a >
                        <h2><a th:href="@{${seoHtml.url}}" th:title="${seoHtml.title}" th:text="${seoHtml.title}"></a ></h2>
                    </header>
                <p class="meta">
                    <time><i class="fa fa-clock-o" th:text="${seoHtml.createTime}"></i></time>
                    <span class="pv"><i class="fa fa-eye"></i>阅读(<i th:text="${seoHtml.source}"></i>)</span>
                    <span class="pc"><i class="fa fa-comments-o"></i>评论(99+)</span>
                </p >
                <p class="note" th:text="${seoHtml.description}"></p >
            </article>
            </div>
                <br>
                <a th:href="@{/(pageNum=${currentPage + 1})}" style="border-radius:10px;" th:class="${totalPage <= currentPage ? 'hidden' :'btn btn-info pull-right' }">下一页<li th:class="${totalPage <= currentPage ? 'hidden' :'fa fa-arrow-circle-o-right fa-fw' }"></li></a>
            <br>
        </div>
    </div>

    <div class="sidebar">

        <div class="widget widget-tops">
            <ul class="widget-nav">
                <li class="" >最新文章</li></ul>
            <ul class="widget-navcontent" >
                <li class="item item-01 active">
                    <ul th:each="latest :${latest}">
                        <li><time>推荐</time><a th:href="${latest.url}" th:text="${latest.title}"></a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="widget widget_ui_sort"><span class="icon"><i class="fa fa-hand-o-right"></i></span>
            <h3 class="widget-title">文章分类</h3>
            <div class="items">
                <ul id="blogsort1">
                    <li> <a href="/seo/index"><i class="fa fa-windows"></i> 卡盟</a> </li><li> <a href="/seo/index"><i class="fa fa-windows"></i> 代刷网</a> </li><li> <a href="/seo/index"><i class="fa fa-windows"></i> 名片赞</a> </li><li> <a href="/seo/index"><i class="fa fa-windows"></i> 卡盟平台</a> </li><li> <a href="/seo/index"><i class="fa fa-windows"></i> 低价名片赞</a> </li><li> <a href="/seo/index"><i class="fa fa-windows"></i> 优化</a> </li><li> <a href="/seo/index"><i class="fa fa-windows"></i> 说说赞</a> </li>		</ul>
            </div>
        </div>

        <div class="widget widget_ui_posts"><span class="icon"><i class="fa fa-pencil-square-o"></i></span><h3>随机文章</h3>
            <ul th:each="seoListRandom :${seoListRandom} " >
                <li style="margin-left: 0px;"><a th:href="@{${seoListRandom.url}}"><span class="thumbnail"><img class="thumb" src="https://sun-mu.cn/public/assets/index/images/img2.png" style="display: block;"></span><span class="text" th:text="${seoListRandom.title}"></span><i class="fa fa-clock-o fa-fw"></i><span class="muted" th:text="${seoListRandom.createTime}"></span></a></li>
            </ul>
        </div>

        <div class="widget widget_links flag_img"><span class="icon"><i class="fa fa-link"></i></span>
            <h3 class="widget-title">友情链接</h3>
            <div class="items">
                <ul id="blogsort2">
                    <li> <a target="_blank" th:href="${webSiteInfo.url}"><i class="fa fa-link"></i> 卡盟排行榜</a> </li>		</ul>
            </div>
        </div>
    </div>
     </section>

    <footer class="footer">
        <div class="container">
            <a target="_blank" href="/seo/index">联系</a> | <a target="_blank" href="/seo/index">sitemap</a>
            <hr>
            <a href="https://beian.miit.gov.cn/">备案号：暂未备案</a></div>
    </footer>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?573597a84d968f44d339891fd50e82bf";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>
</body>
</html>